/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ecc1e8a4; /* Fundo suave com um toque de cor */
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #ff478dad; /* Cor vibrante para destacar */
    color: white;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Seção de história */
.historia {
    padding: 40px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historia h2 {
    font-size: 2.5rem;
    color: #f546a6b4;
    margin-bottom: 20px;
}

.historia p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Seção de cardápio */
.cardapio {
    padding: 40px;
    background-color: #ebd8a3;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardapio h2 {
    font-size: 2.5rem;
    color: #ff4784a9;
    text-align: center;
    margin-bottom: 30px;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h3 {
    font-size: 2rem;
    color: #ff479daf;
    margin-bottom: 15px;
}

.donuts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    text-align: center;
    background-color: #ffb5da;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.item p {
    font-size: 1.1rem;
    color: #333;
}

/* Rodapé */
footer {
    background-color: #ff47ac9d;
    color: rgba(243, 232, 201, 0.795);
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
}
